#savedSearches {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    flex-grow: 1;
}

#placeholder {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}