.footer {
    width: 100vw;
    height: 4rem;
    background: white;
    color: #0076AA;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 500;
    font-size: small;
}

a:link {
    color: #0076AA;
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: #0076AA;
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: #0076AA;
    background-color: transparent;
    text-decoration: underline;
}
  
a:active {
    color: #0076AA;
    background-color: transparent;
    text-decoration: underline;
}

#footer-break {
    display: none;
}


@media only screen and (max-width: 768px) {
    .footer {
        font-size: x-small;
    }

    #footer-break {
        display: inline;
    }
}