.footer {
    width: 100vw;
    height: 4rem;
    background: #0076AA;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 300;
    font-size: small;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
  
a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}