* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: white;
    color: rgb(15, 15, 15);
    overflow: hidden;
    overflow-y: auto;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    padding: 1rem 0.5rem;
  }