.navbar {
    width: 100vw;
    height: 10.25vh;
    background: white;
    color: #0076AA;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    padding: 2rem;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 3;
}

.logo {
    object-fit: cover;
    height: 3rem;
    width: 10rem;
}

#loggedin-name {
    font-size: 20px;
    color: #BABABA;
}

.login-btn, .logout-btn, .signup-btn {
    font-size: 16px;
    color: white;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #0076AA;
    border: none;
    margin: 0.5rem;
}
