#landingpage {
    width: 100%;
    height: 100%;
    /* max-width: 420px; */
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 0.5rem;
}

#content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    align-content: center;
    flex-grow: 1;
}

.loggedin-name {
    font-size: 36px;
    color: #BABABA;
    margin: 5px;
}

@media only screen and (max-width: 768px) {
    .loggedin-name {
        font-size: 28px;
        text-align: center;
    }
}