#inputsearch {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;
        border: solid #BABABA 2px;
        border-radius: 2rem;
}

#inputsearchbtn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    padding-bottom: 1rem;
    margin: 1rem;
}
